*{
    background-color:  rgb(119, 202, 228);
    color: rgb(116, 0, 211);
    font-family:Comic Sans MS;
    justify-content: left;
}
h1{
    border:dotted;
}
input{
    background-color: rgb(119, 202, 228);
    color: rgb(116, 0, 211);
    font-family:Comic Sans MS;
    border:dashed;
}
button{
    background-color: cornsilk;
}
select{
    color: deeppink;
    background-color: lemonchiffon;
}

