*{
    background-color:  rgb(95, 31, 2);
    color: rgb(211, 0, 0);
    font-family:Comic Sans MS;
    justify-content: left;
}
h1{
    border:dotted;
}
input{
    background-color: rgb(180, 57, 0);
    color:rgb(211, 197, 0);
    font-family:Comic Sans MS;
    border:dashed;
}
button{
    background-color: cornsilk;
}
select{
    color: deeppink;
    background-color: lemonchiffon;
}

